body {
    background: url("../images/Spirit-composers-674x420.jpg");
    background-size: cover;
    width: 960px;
    margin: auto;
    font-family: cursive;
}

.container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.headerWrap {
    grid-column-start: 1;
    grid-column-end: 4;
}

.header {
    
   
    font-family: cursive;
    font-size: 1.6em;
    text-align: center;
    padding: 1em;

}

.gameWrap {
    grid-column-start: 1;
    grid-column-end: 4;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
    line-height: 1.6em;
}

#timeLeft {
    padding: 0.5em;
}

#startBtn {
    text-align: center;
    margin: auto;
    height: 50px;
    width: 300px;
    background-color: #ebebeb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.introWrap {
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
}

#question {
    padding-bottom: 20px;

}

#answerBackground {
    background-color: none;
}

#answer {
    margin-top: 10px;
    padding-bottom: 20px;
}

#answer:hover {
    cursor: pointer;
}

.answerChoices:hover {
    background-color: #888888;
    cursor: pointer;
}

#gifDisplay {
    margin: auto;
    height: 250px;
    width: 250px;
}

.exitWrap {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    font-size: 32px;
    font-weight: bold;
}

button {
    font-family: cursive;
    color: #a67034;
    font-size: 24px;
    margin-top: 8px;
    box-shadow: 5px 5px 2px 1px #a67034;
}

button:hover{
    cursor: pointer;
}
   

img {
    width: 700px;
}
.musicWrap {
    grid-column-start: 2;
    grid-column-end: 3;
    margin:auto;
}